.App {
  text-align: center;
}

.appBar{
  display: flex;
  color: white;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  background: rgb(62, 76, 94);
}
.description{
  display: flex;
  flex-direction: column;
}